#texto{
	background-color: #5caccb;
	color:#ffffff;
	border-radius: 20px;}

.texto1{padding-right: 99px;margin: 0px 0px 0px 12px;}
.texto2{padding-right: 101px;margin: 0px 0px 0px 23px;}
.texto3{    padding-right: 75px; margin: 0px 0px 0px 23px;}
.texto4{padding-right: 75px;margin: 0px 0px 0px 23px;}